<div class="container">
<%= form_with scope: :form, local: true do |form| %>
  <p>
    <%= form.label :heading %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    
    <%= form.submit %>
  </p>
<% end %>
</div>